/* Profile Style */
#profile_body{
  background-color: #f5deb3;
}

#header{
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 40px;
  padding: 0.5em;
  border: 10px solid white;
}

#main{
  display: flex;
  justify-content: space-around;
}

 #left{
   margin-top: 35px;
   margin-left: 35px;
   align-self: flex-start;
   background-color: #BC8F8f;

  }

#left img{
  width: 150px;
  height: 150px;
  padding: 5px;
}

#no_bullets{
  text-align: justify;
  list-style-type: none;
}

#left a{
  color: white;
  font-family: sans-serif;
}

#content{
  align-content: center;
  flex-grow: 1.5;
}

.heading{
  text-align: center;
  color: white;
}

.heading p{
  font-family: sans-serif;
  color: black;
}

.heading div{
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #b0c4de;
  font-family: sans-serif;
  font-size: 30px;
}

/*Main Page Style Stuff */
#website{
  background-color: #b0e0e6;
}

#bar{
  position: fixed;
  background-color: pink;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.linkBoxes{
  background-color: pink;
  padding: 20px;
  text-align: center;
}

#websiteTitle{
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  margin: auto;
  text-align: center;
  padding: 15%;
}

#websiteTitle p{
  font-size: 500%;
}

#websiteTitle img{
  width: 300px;
  height: 300px;
}

#linkTitle{
  font-family: sans-serif;
  font-weight: 100px;
  color: black;
}

/* Blog Page */
#blog_body{
  background-color: #ffe4e1;
}

#blog_header{
  font-family: sans-serif;
  text-align: center;
  background-color: #ff7f50;
  font-size: 350%;
  color: white;
  padding: 5%;
  margin-bottom: 1%;
}

#blog_main{
  display: flex;
  flex-direction: column;
}

.blog_date{
  font-size: 200%;
  text-align: center;
  padding: 1%;
  font-family: sans-serif;
  background-color: #fffacd;
}

.blog_post{
  font-family: sans-serif;
  display: none;
}
#comment_text{
  width: 1000px;
  height: 200px;
}