/* Profile Style */
#profile_body{
  background-color: #f5deb3;
}

#header{
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 40px;
  padding: 0.5em;
  border: 10px solid white;
}

#main{
  display: flex;
  justify-content: space-around;
}

 #left{
   margin-top: 35px;
   margin-left: 35px;
   align-self: flex-start;
   background-color: #BC8F8f;

  }

#left img{
  width: 150px;
  height: 150px;
  padding: 5px;
}

#no_bullets{
  text-align: justify;
  list-style-type: none;
}

#left a{
  color: white;
  font-family: sans-serif;
}

#content{
  align-content: center;
  flex-grow: 1.5;
}

.heading{
  text-align: center;
  color: white;
}

.heading p{
  font-family: sans-serif;
  color: black;
}

.heading div{
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #b0c4de;
  font-family: sans-serif;
  font-size: 30px;
}

/*Home Page*/
.website{
  font-family: 'Lato',serif;
}

#quickBio{
  text-align: center;
}

#websiteFontColor:link, #websiteFontColor:visited{
  display: grid;
  text-align: center;
  font-size: 250%;
  color: black;
  text-decoration: none;
}

#websiteFontColor:hover, #websiteFontColor:active{
  display:grid;
  text-align: center;
  font-size: 250%;
  color:#99C5FE;
  text-decoration: none;
}

#bar{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  grid-gap: 15px;
}

#bar a:link, a:visited{
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

#bar a:hover, a:active{
  background-color:#99C5FE;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}
#aboutMeBio{
  margin-left: 50px;
  margin-right: 50px;
}
#aboutMeBio p{ 
  font-weight: bold;
  font-size: 400%;
  margin: 10px;
  margin-left: 0px;
}
#aboutMeImage{
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#aboutMe{
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-left: 1rem;
}

/* Blog Page */
#blog_body{
  background-color: #ffe4e1;
}

#blog_header{
  font-family: sans-serif;
  text-align: center;
  background-color: #ff7f50;
  font-size: 350%;
  color: white;
  padding: 5%;
  margin-bottom: 1%;
}

#blog_main{
  display: flex;
  flex-direction: column;
}

.blog_date{
  font-size: 200%;
  text-align: center;
  padding: 1%;
  font-family: sans-serif;
  background-color: #fffacd;
}

.blog_post{
  font-family: sans-serif;
  display: none;
}
#comment_text{
  width: 1000px;
  height: 200px;
}