/* Profile Style */
#profile_body{
  background-color: #f5deb3;
}

#header{
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 40px;
  padding: 0.5em;
  border: 10px solid white;
}

#main{
  display: flex;
  justify-content: space-around;
}

 #left{
   margin-top: 35px;
   margin-left: 35px;
   align-self: flex-start;
   background-color: #BC8F8f;

  }

#left img{
  width: 150px;
  height: 150px;
  padding: 5px;
}

#no_bullets{
  text-align: justify;
  list-style-type: none;
}

#left a{
  color: white;
  font-family: sans-serif;
}

#content{
  align-content: center;
  flex-grow: 1.5;
}

.heading{
  text-align: center;
  color: white;
}

.heading p{
  font-family: sans-serif;
  color: black;
}

.heading div{
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #b0c4de;
  font-family: sans-serif;
  font-size: 30px;
}

/*Home Page*/
.websiteFont{
  font-family: 'Lato',serif;
  margin: 0;
}

.header{
  background-color:#B8D7FE;
  width: 100%;
  margin: 1;
  padding-bottom: 50px;
}

.intro{
  display: grid;
  margin: 50px;
}

.item1{
  grid-column: 1/4;
}
.item2{
  grid-column: 5/6;
}

.item2 img{
  border-radius: 50%;
  width: 350px;
  height: 350px;
  border-color: white;
  border-style: solid;
  border-width: 15px;
}

#scrollDown{
  padding-top: 50px;
  color: white;
  font-size: 30px;
}

.helloWorld{
  font-size: 350%;
  color: white;
  text-decoration: none;
  margin-left: 100px;
  font-weight: bolder;
  letter-spacing: 0.2em;
}

.fillerText{
  color: white;
  margin-left: 100px;
  font-weight: bolder;
  letter-spacing: 0.2em;
}

.bar{
  display: flex;
  justify-content: flex-end;
}

.bar div{
  margin: 20px;
}

.bar a:link, a:visited{
  text-decoration: none;
  color: white;
}

.bar a:hover, a:active{
  text-decoration: none;
  color: black;
}
#aboutMeBio{
  margin-left: 50px;
  margin-right: 50px;
}
#aboutMeBio p{ 
  font-weight: bold;
  font-size: 400%;
  margin: 10px;
  margin-left: 0px;
  
}
#aboutMeImage{
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#aboutMe{
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-left: 1rem;
  letter-spacing: 0.1em;
}

.footer{
  background-color:#B8D7FE;
  width: 100%;
  margin: 1;
  padding-top: 30px;
  color: white;
}

.footer p{
  text-align: end;
  padding-right: 10px;
  font-weight: lighter;
}

/* Blog Page */
#blog_body{
  background-color: #ffe4e1;
}

#blog_header{
  font-family: sans-serif;
  text-align: center;
  background-color: #ff7f50;
  font-size: 350%;
  color: white;
  padding: 5%;
  margin-bottom: 1%;
}

#blog_main{
  display: flex;
  flex-direction: column;
}

.blog_date{
  font-size: 200%;
  text-align: center;
  padding: 1%;
  font-family: sans-serif;
  background-color: #fffacd;
}

.blog_post{
  font-family: sans-serif;
  display: none;
}
#comment_text{
  width: 1000px;
  height: 200px;
}